<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/celebrities">Check out our celebs</a>
<br>
<a href="/movies">Check out our movies</a>
<br>
<br>

<i>Feel free to use this project as you see fit.</i>
<br>
<br>
<i>Functionality +</i>
<br>
<i>Styling -</i>