<form action="/celebrities/add" method="POST">
  <label for="name">Celebrity name</label>
  <input type="text" name="name" value="" placeholder="Celebrity name" required>
  <br>
  <label for="occupation">occupation </label>
  <input type="text" name="occupation" value="" placeholder="occupation">
  <br>
  <label for="catchPhrase">Phrase </label>
  <input type="text" name="catchPhrase" value="" placeholder="Phrase">
  <br>
  <button type="submit" name="button">Submit</button>
</form>
<br>
<a href="/celebrities">
  < Edit</a>